USE [master]
GO
/****** Object:  Database [BAC Alcohol]    Script Date: 9/24/2020 5:13:16 PM ******/
CREATE DATABASE [BAC Alcohol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BAC Alcohol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BAC Alcohol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BAC Alcohol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BAC Alcohol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAC Alcohol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAC Alcohol]
GO
/****** Object:  Table [dbo].[BACTable]    Script Date: 9/24/2020 5:13:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Alcohol Type] [nchar](10) NULL,
	[Alcohol Name] [nchar](20) NULL,
	[Fluid Ounces] [decimal](4, 2) NULL,
	[Alcohol Percentage] [decimal](4, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
